.navbar-dark {
    background-color: rgb(20, 20, 20)
}

.navbar-brand {
    font-family: Impact;

}

.jumbotron {
    background-image: url(home-1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.logo {
    height: 320px
}

body {
    background-color: rgb(20, 20, 20)
}

h1 {
    color: white;
    text-align: center;
}

tr {
    color:white
}

.h5 {
    color: white;
    font-size: 120 px;
    vertical-align: middle;
}

.card {
    background-color: rgb(200, 200, 200)  
}
